body {
    background-color: black;
    padding-top: 0;
    position: relative;
}
/* Color Palette

Primary: rgb(242, 174, 46)
Secondary: rgb(0, 172, 90)
Background: rgb(0, 0, 0)
Secondary Background: rgb(23, 23, 23)
Accent: rgb(242, 40, 40)
Text Primary: rgb(5, 199, 242)
Text Secondary: rgb(242, 242, 242) 
*/
.headnavbar {
    margin: 0;
    background: black;
    padding-left: 20px;
    padding-right: 50px;
}

.extendedNav {
    /* About */
justify-content: flex-end;
}

a {
    text-decoration: none;
}

a:hover {
    color: rgb(242, 40, 40) !important;
}

.extendedNav a:hover > h2 {
    color: rgb(242, 40, 40) !important;
}

.navTitle {
    /* Atlantic Watch Pipes & Drums */
    width: 610px;
    height: 120px;
    left: 178px;
    right: 1132px;
    top: 0;
    bottom: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.title-spacer {
    padding-top: 250px;
    display: flex;
    align-content:end;
}

.title-text > h1 {
    font-size: 96px;
    font-family: 'DM Serif Display', sans-serif;
    text-align: center;
    line-height: 100px;
    letter-spacing: 0px;
}

.paypal-block {
    background-color: rgb(0, 172, 90);
}

.paypal {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.paypal-text {
    font-family: "DM Serif Display", sans-serif;
    color: rgb(0, 0, 0);
    text-align: center;
    line-height: 99px;
}

.button-center {
    text-align: center;
}

.paypalButton {
    background-color: rgb(242, 174, 46);
    color: rgb(0, 0, 0);
    padding: 0px 25px;
}

.paypalButtonHover {
    background-color: rgb(0, 0, 0);
    color: rgb(242, 174, 46);
    border: solid 5px rgb(242, 174, 46);
}

h1 {
    font-family: "Markazi Text", sans-serif;
    font-size: 72px;
    color: rgb(242, 174, 46);
    line-height: 50px;
    letter-spacing: 0px;
    text-align: left;
}

h2 {
    color: rgb(0, 172, 90);
    font-family: "DM Serif Display", sans-serif;
    font-size: 24px;
    font-weight: 400;
    line-height: 33px;
    letter-spacing: 0px;
    text-align: center;
}

h3 {
    font-size: 42px;
    font-family: "DM Serif Display", sans-serif;
    line-height: 58px;
}

h4 {
    color: rgb(242, 242, 242);
    font-family: "Inter", sans-serif;
    font-size: 32px;
    font-weight: 700;
    line-height: 39px;
    letter-spacing: 0%;
}

.merch-text h3 {
    color: rgb(242, 174, 46);
    font-size: 72px !important;
}

.index-text {
    height: 840px;
    align-items: center;
}

.indexbg {
    background-image: url(img/backgrounds/indexBg.png);
    background-position: left;
    background-repeat: no-repeat;
}

.title-button {
    margin-top: 45px;
}

button {
    border-radius: 15px;
    height: 88px;
    font-family: 'DM Serif Display', sans-serif;
    border: none;
    font-size: 42px;
}

button.primary {
    background-color: rgb(0, 172, 90);
    color: rgb(0, 0, 0);
}

button#signup {
    padding: 0px 50px;
}

button.secondary {
    background-color: rgb(0, 0, 0);
    color: rgb(0, 172, 90);
    border: rgb(0, 172, 90) solid 5px;
    padding: 0px 15px;
}

button.primary:hover {
    background-color: rgb(0, 136, 70);
}

button.secondary:hover {
    background-color: rgb(0, 172, 90);
    color:rgb(0, 0, 0);
}

button.mobile-nav-popout {
    background-color: rgb(242, 242, 242);
    display: flex;
    align-items: center;
    height: 4rem;
    width: 4rem;
    
}

.spacer {
    background-color: rgb(23, 23, 23);
    color: rgb(242, 174, 46);
    height: 256px;
    text-align: center;
}

.current-promo {
    text-align: center;
}

.mainMediaLink {
    color: rgb(242, 174, 46);
    text-align: center;
}

.mainMediaLink > h3 {
    vertical-align: middle;
    font-size: 92px;
    line-height: 132px;
    padding: 314px 0px
}

.year-in-review {
    background-image: url(img/media/yirimg.png);
}

.practiceimg {
    background-image: url(img/media/practiceimg.png);
}

.ddayimg {
    background-image: url(img/media/ddayimg.png);
}

.product-item {
    background-color: rgb(32, 32, 32);
    padding: 21px;
    border-radius: 25px;
    width: 317px;
}

.product-item > h4 {
    margin: 10px 0px;
    font-weight: bold;
}

.product-item > p {
    color: rgb(242, 174, 46);
    text-align: right;
    font-size: 24px;
    font-weight: 500;
    margin: 0px;
    line-height: 29px;
}

.product-hover {
    background-color:rgb(68, 68, 68);
}

.prod-desc {
    background-color: rgb(32, 32, 32);
    border-radius: 25px 0px 0px 25px;
    padding: 40px;
}

.product-text > h1 {
    color: rgb(242, 242, 242);
    font-family: 'Inter', sans-serif;
    font-weight: bold;
    font-size: 72px;
    line-height: 87px;
}

.product-text > h2 {
    color: rgb(242, 242, 242);
    font-family: 'Inter', sans-serif;
    font-size: 30px;
    line-height: 36px;
}

.product-text > h3 {
    color: rgb(242, 242, 242);
    font-family: 'Inter', sans-serif;
    font-size: 42px;
    line-height: 36px;
    font-weight: bold;
}

.product-text > h4 {
    color: rgb(242, 242, 242);
    font-family: 'Inter', sans-serif;
    font-size: 40px;
    line-height: 48px;
    font-weight: normal;
}

.product-text > p {
    color: rgb(242, 242, 242);
    font-family: 'Inter', sans-serif;
    font-size: 30px;
    line-height: 36px;
}

.flex {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.payment-contact {
    box-sizing: border-box;
    background-color: rgb(0, 172, 90);
    color: rgb(0, 0, 0);
    height: 80px;
    text-align: center;
    width: 490px;
}

.bassdrum {
    color: rgb(242, 242, 242);
    font-family: 'Inter', sans-serif;
    font-weight: bold;
    font-size: 42px;
    text-align: center;
    font-style: italic;
}

button.payment-contact:hover {
    background-color: rgb(0, 0, 0);
    color: rgb(0, 172, 90);
    border: rgb(0, 172, 90) solid 5px;
}

.practice-banner {
    background-image: url(img/media/practicebanner.png);
    height: 600px;
    display: flex;
    align-items: center;
}

.banner-text > h1 {
    font-size: 86px;
    font-family: 'DM Serif Display', sans-serif;
    text-align: center;
    letter-spacing: 0px;
    line-height: normal;
}

.subtext > h1 {
    font-family: 'Markazi Text', sans-serif;
    font-size: 62px;
    color: rgb(242, 242, 242);
    font-weight: 500;
    text-align: center;
}

.subtext > h3 {
    font-family: 'Markazi Text', sans-serif;
    font-size: 48px;
    color: rgb(242, 242, 242);
    font-weight: normal;
}

.subtext > h4 {
    font-size: 32px;
    font-family: 'Markazi Text', sans-serif;
    font-weight: normal;
}

.subtext > p {
    font-family: 'Markazi Text', sans-serif;
    font-size: 34px;
    color: rgb(242, 242, 242);
    font-weight: normal;
    line-height: normal;
}

.img-resize-practice {
    width: auto;
    height: 550px;
    margin-bottom: 2rem;
}

.practice-about {
    padding: 0px 60px;
}

.about-banner {
    background-image: url(img/media/aboutbanner.png);
    height: 600px;
    display: flex;
    align-items: center;
}

.about-img {
    width: 800px;
    height: auto;
}

.footer {
    background-color: rgb(68, 68, 68);
    font-family: 'Markazi Text', sans-serif;
    color: rgb(242, 242, 242);
}

.fs-1 {
    line-height: normal !important;
}

#mobileMenu {
    margin-left: 0px;
}

.mobile-popout {
    background-color: rgb(32, 32, 32);
    text-align: center;
}

.contact-forum {
    background-color: #202020;
    border-radius: 25px;
    width: 78.313rem;
    margin-top: 5rem;
    padding: 1.625rem;
    gap: 10;
}

.contact-forum-style > .col > h1 {
    color:rgb(242, 242, 242);
    font-family: 'Inter', sans-serif;
    font-weight: bold;
    font-size: 64px;
    margin-top: 13px;
}

.contact-forum-style > .col > h3 {
    color:rgb(242, 242, 242);
    font-family: 'Inter', sans-serif;
    font-weight: bold;
    font-size: 32px;
}


@media (max-width: 991.98px) {
    .mobile-indexbg {
        background-image: url(img/backgrounds/mobile/mIndexBg.png);
        background-position: left;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: top;
    }

    .headnavbar {
        padding: 1rem 0px;
    }

    .mobile-fast-fix {
        margin: 0px;
    }

    .mobile-menu-button {
        text-align: right;
    }

    .spacer {
        height: auto;
        padding: 1rem;
    }

    .mobile-announce {
        font-size: 1rem !important;
        line-height: normal !important;
    }

    .index-text {
        height: 288px;
    }

    .multiMobile {
        font-size: 1rem !important;
        line-height: normal !important;
        padding: 2.5rem !important;
        font-size: 2rem !important;
        margin: 0px !important;
    }

    .paypal-text {
        font-size: 2rem;
        line-height: normal;
    }

    .paypalButton {
        font-size: 2rem;
        line-height: normal;
    }

    .paypalButtonHover {
        background-color: rgb(0, 0, 0);
        color: rgb(242, 174, 46);
        border: solid 5px rgb(242, 174, 46);
        font-size: 2rem;
        line-height: normal;
        height: auto;
    }

    .mobile-paypal-button {
        font-size: 2rem;
        line-height: normal;
    }

    .text-start {
        font-size: 3rem !important;
    }

    .subtext > h4 {
        font-size: 1.5rem !important;
    }

    .year-in-review {
        background-image: url(img/media/yir-mobile.png);
    }

    .practiceimg {
        background-image: url(img/media/practice-mobile.png);
    }

    .ddayimg {
        background-image: url(img/media/dday-mobile.png);
    }
}